html * {
    font-family: Ubuntu;
}

h1 {
    margin: 5vw;
    text-align: center;
    margin-bottom: 8vw;
}

.settings {
    border-radius: 2vw;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 5vw;
    margin: 5vw;
}

.opens {
    border-radius: 2vw;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    margin: 5vw;
    width: 37.5vw;
    height: 38vw;
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    position: relative;
}

.os {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    position: relative;
    width: 20vw;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
}


#output {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    line-height: 9px;
}


#outputt {
    font-size: 12px;
    top: 15px;
}

#save {
    margin-top: 20px;
}
